@import "../../mixins.scss";
.navbar {
    color: #fff;
    @include d-flex(row, space-between, center);
    background-color: rgb(52, 52, 52);
    width: 100%;
    height: 60px;
    padding: 0 2rem;
    .brand {
        flex: 1;
    }

    .menu {
        ul {
            @include d-flex(row, flex-start, center);
            gap: 1rem;
            li {
                a {
                    cursor: pointer;
                    color: #fff;
                }
            }
        }
    }

    .hamburger {
        display: none;
        cursor: pointer;
    }

    .toogle {
        cursor: pointer;
        margin-left: 1rem;
        svg {
            color: var(--blue);
        }
    }
}

@media (max-width: 600px) {
    .navbar {
        color: #fff;

        .menu {
            @include d-flex(column, flex-start, center);
            gap: 1rem;
            color: #fff;
            background-color: rgb(52, 52, 52);
            width: 240px;
            height: 100vh;
            position: fixed;
            top: 0;
            left: -240px;
            z-index: 100;
            transition: all 0.5s ease;
            &.open {
                left: 0;
            }
            ul {
                @include d-flex(column, center, center);
                gap: 2rem;
                height: 100%;
                li {
                    a {
                        cursor: pointer;
                        color: #fff;
                    }
                }
            }
        }

        .hamburger {
            display: block;
        }
    }
}
